# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.spv

# Precompiled Headers
*.gch
*.pch


# Compiled Dynamic libraries
*.so
*.dylib


# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a


# Executables
*.exe
*.out
*.app
*.res
*.txt

node_modules/
dist/
build/
.vite/
coverage/